@mixin onTablet {
  @media (max-width: 640px) {
    @content;
  }
}

.square-grid {
  display: grid;
  box-sizing: content-box;
  aspect-ratio: 1/1;
  grid-gap: 0;
  grid-template-columns: repeat(var(--selectedOption), 1fr);
  grid-template-rows: repeat(var(--selectedOption), 1fr);
  width: 100%;
}

.square {
  padding: 0;
  background-color: white;
  border: 0.1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100%, calc(800px / var(--selectedOption))); 
  height: min(100%, calc(800px / var(--selectedOption)));
  transition: background-color 0.3s ease-in-out;
}


.square:hover {
  cursor: pointer;
}


.activeSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.page-container {
  width: 65%;
}

.page {
  width: 48em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10rem 2rem 0;

  @include onTablet() {
    display: block;
  }
}

.start_clear--button {
  display: flex;
  gap: 0.5rem;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 16px;
  padding-top: 10px;
}

.start {
  border-radius: 5px;
  width: 7rem;
  padding: 1rem 0;
	background-color: #fff;
  border-width: 0;
  border-radius: 5px;
  border: 2px solid aqua;

  transition: 0.3s ease-in-out;

  &-pressed {
    background-color: aqua;
    cursor: pointer;
    border-color: aqua;

    &:hover {
      scale: 1.1;
      background-color: aqua;
    }
  }
}

.clear {
  margin-right: 0px;
}

.list-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
}

.select {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  border-color: aqua;
  padding: 1rem 0.6rem;
  width: 15rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 6px;
}

.list-element {
  border-radius: 5px;
  text-align: center;
  background-color: aqua;
  width: 15rem;
  box-sizing: border-box; 
}

